[submodule "vendor/sweph-wasm"]
	path = vendor/sweph-wasm
	url = https://github.com/ptprashanttripathi/sweph-wasm.git
[submodule "vendor/luxon"]
	path = vendor/luxon
	url = https://github.com/moment/luxon.git
[submodule "vendor/tz-lookup"]
	path = vendor/tz-lookup
	url = https://github.com/darkskyapp/tz-lookup-oss.git
[submodule "vendor/hdkit"]
	path = vendor/hdkit
	url = https://github.com/jdempcy/hdkit.git
